@model Mulakat_Takip.Models.PanelOperations

@{
    ViewData["Title"] = "Confirmation";
}

<h1>Edit</h1>

<h4>PanelOperations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Confirmation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Panelid" />


            <div class="form-group">
                <label asp-for="PanelStatus" class="control-label"></label>
                <select asp-for="PanelStatus"
                        class="form-control">
                    <option value="Onay">Onaylandı</option>
                    <option value="Red">Reddedildi</option>
                </select>
                <span asp-validation-for="PanelStatus" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="PanelDefinition" class="control-label"></label>
                <input asp-for="PanelDefinition" class="form-control" />
                <span asp-validation-for="PanelDefinition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PanelPostDate" class="control-label"></label>
                <input asp-for="PanelPostDate" class="form-control" required="required" />
                <span asp-validation-for="PanelPostDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
